@charset "utf-8";
/* CSS Document */

*{font-family:Verdana, Geneva, sans-serif;}

/* div{border:2px solid #00F;} */

/* div[class]{background-color:yellow;}  */

/* div[class=myclass]{color:#F00;}  */

/* div[class~=myclass]{color:#FF0;} */

/* div[class^=my]{font-weight:800;} */

/*div[class$=class]{background-color:#36F;}